.App {
  text-align: center;
  color: #03312e;
}
form, span{
  display:flex;
  flex-direction: column;
}
input, button, textarea {
  background-color: #9ceaef;
  color: #03312e;
  border-style: groove;
  font: 1em "Fira Sans", sans-serif;
  text-align: center;
}
label {
  background-color: #9ceaef;
  color: #03312e;
  font: 1em "Fira Sans", sans-serif;
  text-align: center;
}
ul{
  list-style: none
}